<!DOCTYPE html>
<html>
<head>
    <title>Talk with my Resume</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <div class="container">
        <h1>Interested in my profile ? You can talk with my resume here.</h1>
        
        <div class="chat-button">
            <a href="/chat/" class="btn">Chat with my Resume</a>
        </div>



        <div class="resume">
            <div class="pdf-container">
                <a href="/media/DanielSbeitiResume.pdf" download="DanielSbeitiResume.pdf" class="download-icon">
                    <i class="fas fa-download"></i>
                </a>
                <object
                    data="/media/DanielSbeitiResume.pdf"
                    type="application/pdf"
                    width="100%"
                    height="1200px"
                >
                    <p>Unable to display PDF file. <a href="/media/DanielSbeitiResume.pdf" download="DanielSbeitiResume.pdf">Download</a> instead.</p>
                </object>
            </div>
        </div>


    </div>
</body>
</html>
